:root{
    --side: 150px;
}

.board {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    width: fit-content;
    height: calc(3*var(--side));
}

.buttonbox{
    margin: 1rem;
}

.first{
    grid-row: 1;
}

.second{
    grid-row: 2;
    display:flex;
}

.third{
    grid-row: 3;
}

.card{
    color: rgb(13, 90, 235);
    
}

.clickable:hover {
    cursor: pointer;
}

.slot {
    display: inline;
    justify-content: center;
    align-items: center;
    width: calc(2*var(--side)/3);
    height: var(--side);
    border: solid black;
    margin: 0.5rem;
    font-size: calc(var(--side)*8/10);
    vertical-align: top;
    text-align: center;
}