:root{
    --side: 150px;
    --debug-color: purple;
}

#dialog{
    padding: 0.5rem;
    border-radius: 0.55rem;
    text-align: center;
}

.board {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    width: fit-content;
    height: calc(3*var(--side));
}

.board-bottom{
    display: flex;
}

.buttonbox{
    margin: 1rem;
}

.first{
    grid-row: 1;
}

.second{
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 80px;
}

.third{
    grid-row: 3;
    margin-top: calc(var(--side)/3);
}

.black-card{
    color: black;
}

.card-back{
    color: rgb(13, 90, 235);
    font-size: calc(var(--side)*9/10);
}

.card-front{
    font-size: calc(var(--side)*9/10);
}

.card-line{
    display: flex;
    min-height: calc(var(--side) + 1.4rem);
}

.clickable:hover {
    cursor: pointer;
    user-select: none;
    border: solid yellowgreen;
}

.debug {
    display: inline-block;
    border: solid var(--debug-color);
    padding: 0.1rem;
    margin-top: 1rem;
}

.debug h4 {
    margin: 0;
}

.in-dialog{
    padding: 0.5rem;
}

.line-side-wrapper {
    padding: 0.5rem 0;
}

.red-card {
    color: red;
}

.slot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: calc(2*var(--side)/3);
    height: var(--side);
    border: 0.2rem solid black;
    margin: 0.5rem;
    text-align: center;
}

.versionMark {
    float: right;
    font-size: 0.7rem;
    color: grey;
}
