:root{
    --side: 50px;
}

.board {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    width: fit-content;
}

.first{
    grid-row: 1;
}

.second{
    grid-row: 2;
}

.third{
    grid-row: 3;
}

.slot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--side);
    height: var(--side);
    border: solid black;
}